{% extends "base.html" %}

{% block head %}
{% block title %}Predictive model{% endblock %}
{% endblock %}

{% block header %}
<br><br><br>
<h2> Predict New Joinee First Month AHT And Accuracy </h2>
{% endblock %}
{% block content %}
<form class="row gx-2 gy-2 align-items-center" action="{{ url_for('predict')}}" method="post">
  <div class="col-md-5">
	<label for="gender" class="form-label">Select Candidate Gender:</label>
	<select id ="gender" name="gender" class="form-select" required="required">
  	<option selected disabled value="">Select Gender</option>
  	<option value="Male">Male</option>
  	<option value="Female">Female</option>
	</select>
  </div>
  <div class="col-md-5">
    <label for="education" class="form-label">Select Candidate Highest Education:</label>
    <select id="education" name="education" class="form-select" required="required">
  	<option selected disabled value="">Highest Education</option>
  	<option value="Master">Master</option>
  	<option value="Bachelor">Bachelor</option>
  	<option value="Diploma">Diploma</option>
	<option value="Intermediate">Intermediate</option>
	</select>
  </div>
 <div class="col-md-5">
    <label for="status" class="form-label">Select Candidate Marital Status:</label>
    <select id="status" name="status" class="form-select" required="required">
  	<option selected disabled value="">Marital Status</option>
  	<option value="Single (including living common law)">Single (including living common law)</option>
  	<option value="Married (and not separated)">Married (and not separated)</option>
  	<option value="Separated (including living common law)">Separated (including living common law)</option>
	</select>
  </div>
 <div class="col-md-5">
    <label for="experience" class="form-label">Select Candidate Prior Experience In Call Center:</label>
    <select id="experience" name="experience" class="form-select" required="required">
  	<option selected disabled value="">Experience</option>
  	<option value="Yes">Yes</option>
  	<option value="No">No</option>
	</select>
  </div>
 <div class="col-md-5">
    <label for="year" class="form-label">Select Candidate Years Of Experience In Call Center:</label>
    <select id="year" name="year" class="form-select" required="required">
  	<option selected disabled value="">Experience In Year</option>
  	<option value="Less than 1 year">Less than 1 year</option>
  	<option value="1-2 years">1-2 years</option>
	<option value="2-3 years">2-3 years</option>
	<option value="More than 3 years">More than 3 years</option>
	<option value="No previous BPO experience">No previous BPO experience</option>
	</select>
  </div>
 <div class="col-md-5">
    <label for="online" class="form-label">Enter Candidate Online La:</label>
    <select id="online" name="online" class="form-select" required="required">
  	<option selected disabled value="">Online La</option>
  	<option value="B2">B2</option>
  	<option value="C1">C1</option>
	<option value="C2">C2</option>
	</select>
  </div>
  <div class="col-4">
    <label for="age" class="form-label">Enter Candidate Age:</label>
    <input type="text" class="form-control" id="age" name="age" placeholder="Age in Number" required="required">
  </div>
  <div class="col-4">
    <label for="resilience" class="form-label">Enter Candidate Resilience Score:</label>
    <input type="text" class="form-control" id="resilience" name="resilience" placeholder="Resilence Number like 65" required="required">
  </div>
  <div class="col-md-4">
    <label for="csa" class="form-label">Enter Condiated CSA Score:</label>
    <input type="text" id="csa" name="csa" class="form-control" placeholder="CSA Scored Number" required="required">
  </div>
 <br>
  <div class="text-center">
<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
<a class="btn btn-primary" href="recruitment" role="button">Clear</a>
  </div>
</form>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">AHT</th>
      <th scope="col">Accuracy</th>
      <th scope="col">Proficiency Speed</th>
      <th scope="col">Maximum tenure</th>
      <th scope="col">Lob</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">{{AHT}}</th>
      <td colspan="row">{{Accuracy}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
